<template>
    <div class="m-2">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCreate">
            Create user
        </button>
        <div class="modal fade" id="modalCreate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form v-csrf-token v-on:submit.prevent="checkForm">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">New user</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p v-if="errorsValidation.length">
                                <b>Por favor, corrija el(los) siguiente(s) error(es):</b>
                            <ul>
                                <li v-for="error in errorsValidation">{{ error }}</li>
                            </ul>
                            </p>
                            <p v-if="error">
                                <b>Por favor, corrija el(los) siguiente(s) error(es):</b>
                            <ul>
                                <li v-for="error in errorsResponse">{{ error[0] }}</li>
                            </ul>
                            </p>
                            <div class="mb-3">
                                <label class="form-label">Name</label>
                                <input v-model="user.name" type="text" class="form-control" placeholder="Name">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Email</label>
                                <input v-model="user.email" type="email" class="form-control"
                                       placeholder="name@example.com">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button id="closeModalCreate" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapActions} from "vuex";

export default {
    name: "CreateUserModal",
    data() {
        return {
            errorsValidation: [],
            errorsResponse: [],
            error: false,
            user: {
                name: '',
                email: ''
            }
        }
    },
    methods: {
        ...mapActions(['getUsers']),
       async createUser() {
            try {
                const create = await axios.post("v1/api/users/created", { name: this.user.name, email: this.user.email});
                this.error = false;
                await this.getUsers();
                document.getElementById('closeModalCreate').click();
                this.$swal('User created success');
            }catch (e) {
                this.errorsResponse = e.response.data.errors;
                this.error = true;
            }
        },
        checkForm: function (e) {
            this.errorsValidation = [];

            if (!this.user.name) {
                this.errorsValidation.push("El nombre es obligatorio.");
            }
            if (!this.user.email) {
                this.errorsValidation.push('El correo electrónico es obligatorio.');
            } else if (!this.validEmail(this.user.email)) {
                this.errorsValidation.push('El correo electrónico debe ser válido.');
            }

            if (!this.errorsValidation.length) {
                this.createUser();
                return true;
            }

            e.preventDefault();
        },
        validEmail: function (email) {
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }
    }
}
</script>

<style scoped>

</style>
