<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <create-user-modal></create-user-modal>
                <div class="card">
                    <div class="card-header">Users</div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Options</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr v-for="user in users" :key="user.id">
                                <th scope="row">{{ user.id }}</th>
                                <td>{{ user.name }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                        <button @click="userData = user" class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modalEdit">
                                            Edit
                                        </button>
                                            <button @click="deleteUser(user.id)" class="btn btn-danger" type="button">
                                                Delete
                                            </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <edit-user-modal :user-data="userData"></edit-user-modal>
    </div>
</template>

<script>
import CreateUserModal from "./CreateUserModal";
import {mapActions} from 'vuex'
import EditUserModal from "./EditUserModal";

export default {
    name: "Users",
    components: {EditUserModal, CreateUserModal},
    data() {
        return {
            userData: {}
        }
    },
    computed: {
        users() {
            return this.$store.state.users;
        }
    },
    created() {
        this.getUsers();
    },
    methods: {
        ...mapActions(['getUsers']),
        deleteUser(userId) {
            this.$swal({
                title: 'Delete user?',
                showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: 'Delete',
                denyButtonText: `Don't delete`,
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    try {
                        const user = axios.delete("v1/api/users/delete/" + userId);
                        setTimeout(() => {
                            this.getUsers();
                            this.$swal('Delete!', '', 'success');
                        }, 1500);
                    } catch (e) {
                        alert(e)
                    }
                } else if (result.isDenied) {
                    this.$swal('Not delete', '', 'info')
                }
            });
        }
    }
}
</script>

<style scoped>

</style>
